@font-face {
    font-family: fontP;
    src: url(/lessoncss/font/Inter-Regular.ttf);
}

@font-face {
    font-family: fontSec;
    src: url(/lessoncss/font/Merriweather-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}